body{
    background-color: rgb(83, 83, 229);
}
.popup{
    width: 400px;
    background-color: #fff;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
}
.popup img{
    margin-top: -50px;
    width: 100px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.popup h2{
    font-size: 40px;
    font-weight: 600;
    margin: 30px 0 10px;
}
.popup button{
    width: 100%;
    margin-top: 40px;
    background-color: #6fd649;
    padding: 10px 0;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    box-shadow: 0 6px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.3s;
}
.popup button:hover{
    background-color: #ed9640dc;
    transform: scale(1.04);
}
.popup p{
    font-size: 22px;
}